@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
@font-face {
    font-family:"idroid" ;
    src: url("idroid.otf") format("opentype") ;
}
@font-face {
    font-family: "Clash";
    src: url(ClashDisplay-Medium.otf)
    format("opentype");
}
body{
    background-color: rgb(209, 225, 197);
    
}
img{
    width: 100%;
}
p{
    color: white;
    padding: 10px   ;
    text-align:justify ;
}
h1{
    color: white;
    text-shadow: 3px 0px rgba(0, 0, 0, 0.374);
}
h2{
    color: white;
    text-shadow: 3px 0px rgba(2, 174, 13, 0.355);
}
a{
    background-color: rgba(144, 238, 144, 0.595);   
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button:hover{
    background-color: black;
    transition: 0.3s;
}
.gradient{
    background-image: linear-gradient(to bottom, rgb(93, 165, 93), rgb(0, 49, 0));
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.56);
}
.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1{
    margin: 20px 20px 0px 20px;
    font-family: "Clash";
}
header > p{
    text-align: center;
    font-family: "Clash";
}
button{
    background-color: rgb(61, 156, 63);
    color: white;
    padding: 3px;
    margin: 5px;
    border: 0;
    border-radius:5px;
}
.sec{
    background-color: white;
    margin: auto;
    padding: 15px 0px 0px 0px;
    max-width: 820px;
    width: 96%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.238);

}

#bugdroid{
    max-height: 300px;
    max-width: 400px;
}

.font{
    color: rgb(5, 111, 19);
    font-family: "idroid";
    text-align: center;
}
.font2{
    color: rgb(5, 111, 19);
    font-family: "idroid";
}
main{
    padding: 0px 0px 10px;
}
main > p{
    text-indent: 15px;
    color: black;
}
main > h2{
    background-image:linear-gradient(to right, rgb( 134, 206, 140, 0.685), rgba(134, 206, 140, 0));
    margin: 20px;
}
div{
    display: flex;
    justify-content: center;
}
.youtube{
    background-color: rgb(1, 60, 1);
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;

}
.youtube iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#aprender p{
    margin: 10px;
    
}
.cor{
    flex-direction: column;
    background-color:rgb(163, 227, 183);
    margin: 0px 20px 20px 20px;
    border-radius: 10px;

}
.cor h2{
    background-color: darkgreen;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 0px 0px 20px;
}
.cor p{
    color: rgb(0, 0, 0);
    text-indent: 15px;
    margin: 10px;
}
.cor ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
    margin: 0px 20px;
}
footer{
    background-color: darkgreen;
    text-align: center;
    color: white;
    margin: 20px 0px 0px 0px;
}
ol{
    display: flex;
    flex-direction: column;
}
.ultimo-p p{
    color: black;
    padding: 0px 0px 20px 0px;
    margin: 20px;
}