@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root{
    --font1: "Sriracha", cursive;
    --font2: "Passion One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
}
p{
    font-family: var(--font1);
    font-size: 20px;
    
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal{
    background-color: white;
    color: black;
}
.normal > p{
    padding-bottom: 2em;
}
.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}
.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.394);
    text-shadow: 1px 1px 0px black;

}
#img01{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
}
#img02{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: right center;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}